body{
	padding:0;
	margin:0;
	font-family:sans-serif;
}
header{
	background: #035b88;
	width:100%;
	padding:30px 0;
	color:white;
	text-align:center;
	min-height:50px;
}
#banner{
	width:90%;
	height:300px;
	background-color:red;
	margin:auto;
	overflow:hidden;
	border-radius:0px 0px 10px 10px;
}
nav.space{
	width:30%;
	height:auto;
	float:left;
	font-size:16px;
	margin:auto;
	
	}
a{
	text-decoration:none;
	color:inherit;
}
nav ul{
	background-color:#024b70;
	overflow:hidden;
	color:white;
	padding:0;
	text-align:center;
	margin:0;
	-webkit-transition:max-height 0.4s;
	-ms-transition:max-height 0.4s;
	-moz-transition:max-height 0.4s;
	-o-transition:max-height 0.4s;
	transition:max-height 0.4s;
}
nav ul li{
	display:inline-block;
	padding:20px;
}
nav ul li:hover{
	background-color:#399077;
}

#imgban{
	width:100%;
	height:300px;
}
main{
	line-height:1.5m;
	font-size:0.9m;
	padding:0px;
	width:80%;
	min-height:300px;
	margin: auto;
}
main nav{
	
	width:25%;
	height: auto;
	float:left;
	padding:5px;
	margin:auto;
	margin-left:70px;
}
.handle{
	width:100%;
	background:#005c48;
	text-align:left;
	box-sizing:border-box;
	padding:15px 10px;
	cursor:pointer;
	color:white;
	display:none;
}

footer{
	width:100%;
	background:#000;
	height:150px;
	border-top:solid 5px #035b88;
	clear:both;
}
@media screen and (max-width:580px ){
	nav ul{
		max-height:0;
	}
	.showing{
		max-height: 20em;
	}
	nav ul li{
		box-sizing:border-box;
		width:100%;
		padding:15px;
		text-align:left;
	
	}
	.handle{
		display:block;	
	}
	.handle:hover{
		
		display:block;
	}
	
}
footer{
	width:100%;
	background:#000;
	height:150px;
	border-top:solid 5px #035b88;
	clear:both;
}
	
}